<form [formGroup]="addClerkForm" (ngSubmit)="onSubmit()">

    <div  class="div-field">
        <label  class="label-field" for="firstname">First Name </label>
        <input class="input-field" type="text"  formControlName="firstname">
    </div>
    <div  class="div-field">
        <label class="label-field" for="lastname">Last Name </label>
        <input  class="input-field" type="text"  formControlName="lastname">
    </div>

    <div  class="div-field">
        <label class="label-field" for="phoneNumber">PhoneNumber </label>
        <input  class="input-field" type="text"  formControlName="phoneNumber">
        <div *ngIf="addClerkForm.get('phoneNumber')?.touched">
        <div *ngIf="addClerkForm?.get('phoneNumber')?.invalid">
            <span class="text-error">Required</span>
        </div>
    </div>

    <div  class="div-field">
        <label class="label-field" for="userName">userName </label>
        <input  class="input-field" type="text"  formControlName="userName">
    </div>

    <div  class="div-field">
        <label class="label-field" for="password">password </label>
        <input  class="input-field" type="password"  formControlName="password">
    </div>

    </div>
    <div  class="div-field">
        <label class="label-field" for="email">Email </label>
        <input   class="input-field" type="text"  formControlName="email"> 
        <div *ngIf="addClerkForm.get('email')?.touched">
            <div *ngIf=" addClerkForm.get('email')?.invalid">
                <span class="text-error">Invalid</span>
            </div>
        </div>
            
    </div>


    <button  class="div-field" [disabled]="addClerkForm.invalid" type="submit">Save</button>
</form>