html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
  }
  .mat-form-field-placeholder {
    display:block !important;
    flood-color: black;
}
form {
  text-align: center;
  display: inline-grid;
  margin-left: 5rem !important;
  margin-top: 4rem ;
  width: 100%;
}


:host {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.mat-form-field-wrapper {
  padding-bottom: initial !important;
 
}
.mat-form-field-infix {
  width: 250px !important;
}

